<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIDik--hr4Oqwa1lqeRpRJXZtawRNVZpA</string>
	<key>GCM_SENDER_ID</key>
	<string>333402817688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.damyteam.dialdiver</string>
	<key>PROJECT_ID</key>
	<string>dialdiver</string>
	<key>STORAGE_BUCKET</key>
	<string>dialdiver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333402817688:ios:b202671f74b75f22a2bced</string>
</dict>
</plist>